html,
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
	color: #000;
	scroll-behavior: smooth;
	margin: 0;
	box-sizing: border-box;
	align-content: center;
    position: relative;
	background-color: #98B92E;
	font-family: 'Nunito Sans', sans-serif;
}

html::-webkit-scrollbar {
	background: transparent;
	width: 0;
	display: none;
  }

body::-webkit-scrollbar {
	background: transparent;
	width: 0;
	display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
	margin: 0;
}

b {
	font-weight: 900;
}

button {
	cursor: pointer;
}

* {
  box-sizing: border-box;
}
